h1{
    font-size: 50px;
    
    font-family: sans-serif;
    text-align: center;
    text-decoration: solid;
    color: blue;
    font-style: italic;
}

#firstpara{
    font-size: xx-large;
    font-weight: 700;
    color: chartreuse;

}

#secondpara{
    font-size: 25px;
    color: darkviolet;
    font-weight: 400;
    

}